#about {
  width:100vw;
  height:100vh;
  background-color: #161021;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

#profile {
  width:70vw;
  height:40vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #3fff04,
    0 0 3px #3fff04, 0 0 50px #3fff04, 0 0 1px #3fff04, 0 0 5px #3fff04;
    animation: flickerBox 3s infinite;
    /* border: 1px solid black; */
}
/* 화면 작아지면 세로로, */
#profile > div {
  width:30vw;
  height:40vh;
}

#img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#circle {
  width:150px;
  height:150px;
  border-radius: 50%;
  margin-top:20px;
  /* border: 1px solid black; */
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 2px rgba(230, 255, 1, 0.068),
  0 0 3px #3fff044d, 0 0 50px rgba(60, 66, 4, 0.555), 0 0 1px rgba(230, 255, 1, 0.555), 0 0 5px #3c9122;
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}