#about {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}



#backBoard {
  width:85vw;
  height:60vh;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#backBoard > div {
  width:35vw;
  height:500px;
}
#dancer {
  border: 1px solid white;
  background-image: url(./asset/neonDancer.gif);
  background-position: center;
  background-size: cover;
}

#introduce {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid red;

}

#introduce > div {
  width: 30vw;
  height: 80px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}

#aboutBox1 {
  animation: aboutBox1 3.5s infinite;
  transform-style: preserve-3d;
}
#aboutBox2 {
  animation: aboutBox2 3s infinite;
  transform-style: preserve-3d;
}
#aboutBox3 {
  animation: aboutBox3 3.2s infinite;
  transform-style: preserve-3d;
}
#aboutBox4 {
  animation: aboutBox4 4s infinite;
  transform-style: preserve-3d;
}




#aboutBox_front {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

#aboutBox_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutBox_back > p {
  transform: rotate(180deg);
}