#contact {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

#profile {
  width:70vw;
  height:40vh;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow:
    0 0 2px #fff,
    0 0 20px #fff,
    0 0 2px #fff,
    0 0 20px #04b0ff,
    0 0 30px #04e2ff,
    0 0 20px #04e2ff,
    0 0 50px #7104ff;
    animation: profileBox 2.5s infinite;
    /* border: 1px solid black; */
    position: absolute;
    z-index: 3;
    background: linear-gradient(260deg,rgb(5, 5, 5),#000000,rgb(8, 21, 29));
}
/* 화면 작아지면 세로로, */
#profile > div {
  width:30vw;
  height:40vh;
  color: white;
}

#img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#circle {
  width:150px;
  height:150px;
  border-radius: 50%;
  margin-top:20px;
  /* border: 1px solid black; */
  box-shadow:
  0 0 15px #ffffff,
  0 0 9px #fffefe,
  0 0 30px #ffffff,
  0 0 90px rgb(14, 141, 214);
  background-image: url(./asset/samurai.gif);
  background-size:250%;
  background-position: center;
  
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}