
/* ********************intro 영역********************/
#intro {
width: 100vw;
height: 100vh;
/* background-color: #0d0914; */
display: flex;
align-items: center;
justify-content: center;
background-size: cover;
background-position: center;
overflow: hidden;

}

/* #introSquare {
width: 50vw;
height:50vh;
position: absolute;
opacity: 0.8;
animation:profileBox 2.5s infinite;
border-radius: 20px;
} */

    /*********************intro폰트영역**************** */
h1 {
  font-size: 7em;
  color: #ffffff;
  letter-spacing: 0.1em;
  animation: shake 8s linear forwards,
  flicker 1.5s infinite;
  font-family: "Midnight_Drive";
  }
  
h1 span {
    position: absolute;
    transform: translate(-50%, -50%);
    clip-path: polygon(10% 0%, 44% 0%, 70% 100% , 55% 100%);
    animation: flicker2 1.5s infinite;
}
  
h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
}

h1::before {
    animation: crack1 4.5s linear forwards;
    /* linear forwards가 뭐지? */
    clip-path: polygon(0% 0%, 10% 0%, 55% 100% , -30% 100%);
}

h1::after {
    animation: crack2 3.5s linear forwards;

    /* linear forwards가 뭐지? */
    clip-path: polygon(44% 0%, 100% 00%, 300% 100%, 70% 100%);
}

@font-face {
font-family: 'Midnight_Drive';
src: url('./font/Midnight_Drive.woff') format('woff');
/* 예비용 폰트도 하나 마련 */
}


