@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    text-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 60px rgb(204, 0, 255),
    0 0 1px rgb(255, 0, 234),
    0 0 60px rgb(13, 4, 66),
    0 0 10px rgb(255, 255, 255),
    0  15px rgb(211, 24, 111);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flicker2 {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    text-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 60px rgb(0, 183, 255),
    0 0 1px rgb(0, 204, 255),
    0 0 60px rgb(14, 180, 221),
    0 0 10px rgb(255, 255, 255),
    0  10px rgb(0, 225, 255);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flicker3 {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    text-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 60px rgb(0, 183, 255),
    0 0 1px rgb(0, 204, 255),
    0 0 60px rgb(14, 180, 221),
    0 0 10px rgb(0, 0, 0),
    0  10px rgb(38, 44, 44);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flickerBox {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 20px #36dd4c,
    0 0 8px #69b973,
    0 0 40px #038a0a,
    0 0 10px #04ff2e,
    0 0 15px #19bd19;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes flickerBox2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
    0 0 4px rgb(37, 219, 52),
    0 0 11px rgb(105, 179, 45),
    0 0 9px rgb(97, 230, 85),
    0 0 10px rgb(68, 214, 49),
    0 0 8px #ffffff,
    0 0 20px #b8e418,
    0 0 10px #fffefe,
    0 0 5px #34bb13;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes profileBox {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    box-shadow:
    0 0 2px rgb(15, 188, 211),
    0 0 20px rgb(0, 225, 255),
    0 0 50px rgb(0, 225, 255),
    0 0 60px rgb(195, 0, 221),
    0 0 10px rgb(0, 196, 230),
    0  0px rgb(24, 142, 211);
  }
  20%,
  24%,
  55%,
  66%,
  82% {
    box-shadow: none;
  }
}

@keyframes aboutBox1 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 5px #fff,
    0 0 5px #ff0000,
    0 0 8px #fd0000,
    0 0 20px #d60d0d,
    0 0 10px #e71607,
    0 0 5px #c0170b;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}
@keyframes aboutBox2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 5px #fff,
    0 0 5px #0039f3,
    0 0 8px #0039f3,
    0 0 20px #0039f3,
    0 0 10px #0039f3,
    0 0 5px #0039f3;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}
@keyframes aboutBox3 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 
    0 0 4px #fff,
    0 0 11px #fff, 
    0 0 5px #fff,
    0 0 5px #eeff00,
    0 0 8px #eeff00, 
    0 0 20px #eeff00, 
    0 0 10px #eeff00, 
    0 0 5px #eeff00;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}
@keyframes aboutBox4 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 5px #fff,
    0 0 5px #fff,
    0 0 8px #fff,
    0 0 20px #fff,
    0 0 10px #fff,
    0 0 5px #fff;
  }
  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes rotatingCircle {
 /* 0%, */
 10%
   {
    box-shadow:
    0 0 4px #fff,
    0 0 20px rgb(0, 225, 255),
    0 0 10px  #00a6f3,
    0 0 40px #00aef3,
    0 0 12px #0039f3,
    0 0 5px #ffffff;
  }
  90%
   {
    box-shadow: none;
  }
}

@keyframes rotatingCircle2 {
  /* 0%, */
  30%
   {
    box-shadow:
    0 0 4px #fff,
    0 0 20px rgb(25, 0, 255),
    0 0 10px  #1800f3,
    0 0 40px #1c04a5,
    0 0 12px #5735d1,
    0 0 5px #ffffff;
  }
  70%
   {
    box-shadow: none;
  }
}

@keyframes rotatingCircle3 {
  0%,
  10%,
  50%,
  70%
   {
    box-shadow:
    0 0 4px #fff,
    0 0 20px rgb(225, 0, 255),
    0 0 10px  #8600f3,
    0 0 40px #df00f3,
    0 0 12px #f300f3,
    0 0 5px #ffffff;
  }
  
  60%,
  100%
   {
    box-shadow: none;
  }
}