
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 10px #008188,
      0 0 10px #BC0CE7,
      0 8px #BC0CE7;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flicker2 {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 2px rgb(255, 255, 255),
      0 0 60px rgb(0, 183, 255),
      0 0 1px rgb(0, 204, 255),
      0 0 60px rgb(221, 14, 14),
      0 0 10px rgb(252, 2, 2),
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}


@keyframes profileBox {
  0%,
  18%,
  22%,
  25%,
  45%,
  53%,
  57%,
  100% {
    box-shadow:
      0 0 2px rgb(15, 188, 211),
      0 0 20px rgb(0, 225, 255),
      0 0 50px rgb(0, 225, 255),
      0 0 60px rgb(195, 0, 221),
      0 0 10px rgb(0, 196, 230),
      0 0px rgb(24, 142, 211);
  }

  20%,
  24%,
  55%,
  66%,
  82% {
    box-shadow: none;
  }
}


@keyframes rotatingCircle {
  /* 0%, */
  10% {
    box-shadow:
      0 0 4px #fff,
      0 0 20px rgb(0, 225, 255),
      0 0 10px #00a6f3,
      0 0 40px #00aef3,
      0 0 12px #0039f3,
      0 0 5px #ffffff;
  }

  90% {
    box-shadow: none;
  }
}



@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.030em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.035em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  5% {
    transform: translate(1%, 10%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes crack2 {
  60%,
  80% {
    transform: translate(-50%, -60%);
  }

  90%,
  100% {
    transform: translate(-50%, -50%);
  }
}


@keyframes neonButton1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}

@keyframes neonButton2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}

@keyframes neonButton3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}

@keyframes neonButton4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
