#project {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projectText {
  color: white;
  font-size: 3rem;
  font-weight: 600;
}

#rotatingTrack {
  width:700px;
  height:700px;
  /* border: 1px solid white; */
  border-radius: 50%;
  color : white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: rotatingCircle 3s infinite;
  /* background: linear-gradient(260deg,rgb(58, 57, 57),#031e35,rgb(8, 21, 29)); */
}


#rotatingTrack_circle1 {
  top:40%;
  left:-60px;
  width:150px;
  height:150px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(10px);
}

#rotatingTrack_circle2 {
  top:40%;
  left:610px;
  width:150px;
  height:150px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(10px);
}

#rotatingTrack_circle3 {
  top:-60px;
  left:280px;
  width:150px;
  height:150px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(10px);
}

#rotatingTrack_circle4 {
  bottom:-60px;
  left:280px;
  width:150px;
  height:150px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(10px);
}

