#project {
  width:100vw;
  height:100vh;
  background-color: #161021;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rotatingTrack {
  width:700px;
  height:700px;
  border: 1px solid white;
  border-radius: 50%;
  color : white;
  position: absolute;
}

#rotatingTrack > div {
  width:150px;
  height:150px;
  border: 1px solid orange;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}


#rotatingTrack_circle1 {
  top:40%;
  left:-50px;
}

#rotatingTrack_circle2 {
  top:40%;
  left:630px;
}

#rotatingTrack_circle3 {
  top:-60px;
  left:280px;
}

#rotatingTrack_circle4 {
  bottom:-60px;
  left:290px;
}

