#videoPlayer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tv {
  width: 340px;
  height: 340px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-image:url(./asset/tvframe.png);
  background-size: cover;
  background-position: center;
}

#screen {
  width: 300px;
  height: 220px;
  background-color: #3C374D;
  background-image: url(./asset/no-signal.gif);
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 11px;
  border-radius: 20px;
  
}

#screenBottom {
  width: 250px;
  height: 40px;
  background-color: #3C374D;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.6;
}

#insert {
  width: 220px;
  height: 38px;
  background-color: #3C374D;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset {
  width: 30px;
  height: 30px;
  background-color: #3C374D;
}

#table {
  width: 1000px;
  height: 200px;
  background-color: hotpink;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url(./asset/table.png);
  background-position: center;
  background-size: cover;
}