#videoPlayer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tv {
  width: 350px;
  height: 350px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-image:url(./asset/tvframe.png);
  background-size: cover;
  background-position: center;
  box-shadow: 15px 0px 0px 2px;
  color: #1f1d33;
  z-index: 0;
}

#tvBackText {
  width:900px;
  height:200px;
  position: relative;
  top:130px;
  z-index: 0;
  font-size: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: flicker 1s infinite;
  color: white;
}

#screen {
  width: 320px;
  height: 230px;
  background-color: #3C374D;
  background-image: url(./asset/no-signal.gif);
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 11px;
  border-radius: 20px;
}

#can {
  width:50px;
  height:100px;
  /* background-color: white; */
  position: relative;
  top:355px;
  right:300px;
  background-image: url(./asset/can.png);
  background-position: center;
  background-size:cover;
}

#screenBottom {
  width: 260px;
  height: 40px;
  /* background-color: #3c374d00; */
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid white; */
}

#insert {
  width: 290px;
  height: 38px;
  background-color: #3c374d17;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset {
  width: 15px;
  height: 15px;
  background-color: crimson;
  border-radius: 50%;
  border: none;
  position: relative;
  top:37px;
  right: 10px;
}

#table {
  width: 1000px;
  height: 200px;
  background-color: hotpink;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url(./asset/table.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}